

body {
    background-color: #f0e3ca;
}
hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 100px;
}
img {
    height: 150px;
    width: 160px;
}
p {
    padding-bottom: 2cm;
}